html, body, .App {
  width: initial;
  min-width: initial;
  height: initial;
  min-height: initial;
  margin: 0;
  padding: 0;
}

.App {
  align-items: center;
}

.user-connect {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  flex: 0 0 auto;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  padding: 40px;
}
